.contact {
    background: rgba(204, 197, 185, 0.2);
    /* width: 500px; */
}

.Dobiri {
    color: #EB5E28;
}

.title {
    font-family: 'Stick No Bills';
    font-size: 84px;
    font-weight: 700;
    padding-top: 90px;
    padding-bottom: 30px;
}